.card-area {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(4, 1fr);
}

.card {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card > figure {
    margin: unset;
    align-self: center;
}

.card > figure > img {
    display: flex;
    max-width: 200px;
}

.card > div > button {
    width: 100%;
    min-height: 30px;
    background-color: rebeccapurple;
    color: white;
}

.card > div > button:hover {    
    background-color: #2fbdbf;
    color: black;
}