@import "card.css";
@import "blog.css";
@import "nav.css";

body {
    background-color: #f6f6f6;
    font-family: 'Baloo Tamma 2', sans-serif;
    margin: unset;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
}
blockquote:before, blockquote:after {
    font-family: cursive;
    font-size: 1.5rem;
    
}
blockquote:before {
    content: "“";
}
blockquote:after {
    content: "”"
}
.container {
    display: grid;
    grid-template-rows: 250px minmax(calc(100vh - 200px), 100%) 50px;
    grid-template-areas: 
        "heading"
        "main"
        "footer"
        ;
}
.wrapper {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
    .wrapper {
        width: 1100px;
    }
}

.header {
    display: grid;
    grid-template-rows: 200px 50px;
    grid-template-areas: 
        "name"
        "nav";
    grid-area: heading;
    background-color: #78C9A1;
    align-items: center;
}

.blog-name {
    grid-area: name;
}

.footer {
    display: flex;
}
